# Dependencies
node_modules/

# Build output
dist/

# Tests
__tests__/
.jest/
jest.config.js
tsconfig.test.json

# Development files
.git/
.github/
.gitignore
.npmrc
eslint.config.mjs
*.log
*.lock

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
